<a href="/<%= id %>" class="preview-photo">
  <header><%= name %></header>
</a>

<div class="summary">
  <div class="location">
    <i class="fa fa-map-marker"></i><%= contact.city + ", " + contact.state %>
  </div>
  <div class="breeds">
    <span class="breed"><%= breeds[0] %></span>
  </div>
</div>
