@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
  background: #e5e5e5;
  font-family: 'Roboto', sans-serif;
}

#app {
  text-align: center;
}

.card-view {
  background: #FFF;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
  width: 250px;
  height: 250px;
  margin: 5px;
  padding: 0;
  display: inline-block;
  box-shadow: 0px 2px 4px rgba(0,0,0,.2);
  border-radius: 2px;

  header {
    background-color: rgba(0,0,0,.4);
    margin: 0;
    color: white;
    text-align: center;
    padding: 7px;
  }
}
