@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
  background: #e5e5e5;
  font-family: 'Roboto', sans-serif;
}

header.page-header {
  height: 40px;
  background: #5ba641;
  color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

  .logo {
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    margin: 5px;
    margin-left: 15px;
  }
}

#app {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;

  .footer-actions {
    display: none;
    margin-top: 25px;
    margin-bottom: 30px;

    button.show-more {
      width: 90%;
      font-size: 1.25em;
    }
  }
}

.card-view {
  background: #FFF;
  width: 250px;
  margin: 5px;
  padding: 5px;
  display: inline-block;
  box-shadow: 0px 2px 4px rgba(0,0,0,.2);
  border-radius: 2px;

  header {
    background-color: rgba(0,0,0,.4);
    margin: 0;
    color: white;
    text-align: center;
    padding: 7px;
  }

  .preview-photo {
    display: inline-block;
    height: 250px;
    width: 250px;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center;
    text-decoration: none;
  }

  .summary > div {
    margin-top: 5px;
  }
  .summary {
    font-size: 0.9em;
    text-align: center;
    margin: 0 5px;
    color: #555;
    .summary-seperator {
      color: #5ba641;
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.button {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #5ba641;
}

button.show-more, .loading {
  padding: 10px;
}

.loading {
  font-size: 40px;
  color: #555;
}
